*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: #f2f2f2;
}

.container {
  padding: 0 23px;
  margin-top: 87px;
}

.card {
  padding: 40px 48px;
  max-width: 922px;
  margin: auto;
  list-style-type: none;
}

.card__title {
  color: #f2f2f2;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-size: 38px;
  margin-bottom: 24px;
}

.card__sub-title {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Lexend Deca", sans-serif;
  line-height: 25px;
  margin-bottom: 27px;
}

.card__image {
  margin-bottom: 39px;
  position: relative;
}

.card__btn {
  background-color: #f2f2f2;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  padding: 12px 30px;
  margin-bottom: 10px;
  border-radius: 50px;
  border: 3px solid #f2f2f2;
  transition: background 500ms, color 500ms;
  outline: none;
}

.card__btn:hover {
  color: #f2f2f2;
  background-color: transparent;
}

.card--one {
  background-color: #e38826;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card--two {
  background-color: #006970;
}

.card--three {
  background-color: #004241;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.card__btn--one {
  color: #e38826;
}

.card__btn--two {
  color: #006970;
}

.card__btn--three {
  color: #004241;
}

.shake {
  animation: shake 0.7s infinite;
}

.move {
  animation: move 0.5s forwards;
}

@keyframes move {
  0% {
    left: 0;
  }
  10% {
    left: 10px;
  }
  20% {
    left: 20px;
    opacity: 0.9;
  }
  30% {
    left: 30px;
    opacity: 0.8;
  }
  40% {
    left: 40px;
    opacity: 0.7;
  }
  50% {
    left: 50px;
    opacity: 0.6;
  }
  60% {
    left: 60px;
    opacity: 0.5;
  }
  70% {
    left: 70px;
    opacity: 0.4;
  }
  80% {
    left: 80px;
    opacity: 0.3;
  }
  90% {
    left: 90px;
    opacity: 0.2;
  }
  100% {
    left: 100px;
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    top: 0;
  }
  10% {
    top: -1px;
  }
  20% {
    top: 1px;
  }
  30% {
    top: -1px;
  }
  40% {
    top: 1px;
  }
  50% {
    top: -1px;
  }
  60% {
    top: 1px;
  }
  70% {
    top: -1px;
  }
  80% {
    top: 1px;
  }
  90% {
    top: -1px;
  }
  100% {
    top: 1px;
  }
}

@media (min-width: 600px) {
  .cards {
    max-width: 600px;
    margin: auto;
  }
}

@media (min-width: 950px) {
  .cards {
    display: flex;
    max-width: 922px;
    margin: 170px auto;
  }
  .card {
    padding: 45px 50px 45px;
  }
  .card__sub-title {
    margin-bottom: 83px;
  }
  .card--one {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
  }
  .card--three {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }
}
