*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9375rem;
  background-color: #f2f2f2;
}

.container {
  padding: 0 1.4375rem;
  margin-top: 5.4375rem;
}

.card {
  padding: 2.5rem 3rem;
  max-width: 57.625rem;
  margin: auto;
  list-style-type: none;
}

.card__title {
  color: #f2f2f2;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.375rem;
  margin-bottom: 1.5rem;
}

.card__sub-title {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.5625rem;
  margin-bottom: 1.6875rem;
}

.card__image {
  margin-bottom: 2.4375rem;
  position: relative;
}

.card__btn {
  background-color: #f2f2f2;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  padding: 0.75rem 1.875rem;
  margin-bottom: 0.625rem;
  border-radius: 3.125rem;
  border: 0.1875rem solid #f2f2f2;
  transition: background 500ms, color 500ms;
  outline: none;
  cursor: pointer;
}

.card__btn:hover {
  color: #f2f2f2;
  background-color: transparent;
}

.card--one {
  background-color: #e38826;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card--two {
  background-color: #006970;
}

.card--three {
  background-color: #004241;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.card__btn--one {
  color: #e38826;
}

.card__btn--two {
  color: #006970;
}

.card__btn--three {
  color: #004241;
}

.attribution {
  font-size: 0.625rem;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  margin: 0.9375rem;
}

.attribution > a {
  color: #004241;
}

.attribution > a:hover {
  text-decoration: none;
}

.shake {
  animation: shake 0.7s infinite;
}

.move {
  animation: move 0.5s forwards;
}

@keyframes shake {
  0% {
    top: 0;
  }
  10% {
    top: -1px;
  }
  20% {
    top: 1px;
  }
  30% {
    top: -1px;
  }
  40% {
    top: 1px;
  }
  50% {
    top: -1px;
  }
  60% {
    top: 1px;
  }
  70% {
    top: -1px;
  }
  80% {
    top: 1px;
  }
  90% {
    top: -1px;
  }
  100% {
    top: 1px;
  }
}

@keyframes move {
  0% {
    left: 0;
  }
  10% {
    left: 0.625rem;
  }
  20% {
    left: 1.25;
    opacity: 0.9;
  }
  30% {
    left: 1.875;
    opacity: 0.8;
  }
  40% {
    left: 2.5rem;
    opacity: 0.7;
  }
  50% {
    left: 3.125rem;
    opacity: 0.6;
  }
  60% {
    left: 3.75rem;
    opacity: 0.5;
  }
  70% {
    left: 4.375rem;
    opacity: 0.4;
  }
  80% {
    left: 5rem;
    opacity: 0.3;
  }
  90% {
    left: 5.625rem;
    opacity: 0.2;
  }
  100% {
    left: 6.25rem;
    opacity: 0;
  }
}

@media (min-width: 37.5rem) {
  .cards {
    max-width: 37.5rem;
    margin: auto;
  }
  .attribution {
    font-size: 0.8125rem;
    margin: 1.5625rem;
  }
}

@media (min-width: 950px) {
  .cards {
    display: flex;
    max-width: 57.625rem;
    margin: 10.625rem auto;
  }
  .card {
    padding: 2.8125rem 3.125rem 2.8125rem;
  }
  .card__sub-title {
    margin-bottom: 5.1875rem;
  }
  .card--one {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.5rem;
  }
  .card--three {
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
  }
  .attribution {
    font-size: 0.9375rem;
    margin: 1.875rem;
  }
}
