.shake {
  animation: shake 0.7s infinite;
}

.move {
  animation: move 0.5s forwards;
}

@keyframes shake {
  0% {
    top: 0;
  }
  10% {
    top: -1px;
  }
  20% {
    top: 1px;
  }
  30% {
    top: -1px;
  }
  40% {
    top: 1px;
  }
  50% {
    top: -1px;
  }
  60% {
    top: 1px;
  }
  70% {
    top: -1px;
  }
  80% {
    top: 1px;
  }
  90% {
    top: -1px;
  }
  100% {
    top: 1px;
  }
}

@keyframes move {
  0% {
    left: 0;
  }
  10% {
    left: 0.625rem;
  }
  20% {
    left: 1.25;
    opacity: 0.9;
  }
  30% {
    left: 1.875;
    opacity: 0.8;
  }
  40% {
    left: 2.5rem;
    opacity: 0.7;
  }
  50% {
    left: 3.125rem;
    opacity: 0.6;
  }
  60% {
    left: 3.75rem;
    opacity: 0.5;
  }
  70% {
    left: 4.375rem;
    opacity: 0.4;
  }
  80% {
    left: 5rem;
    opacity: 0.3;
  }
  90% {
    left: 5.625rem;
    opacity: 0.2;
  }
  100% {
    left: 6.25rem;
    opacity: 0;
  }
}
