.card {
  &--one {
    background-color: $clr-orange;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  &--two {
    background-color: $clr-cyan-700;
  }

  &--three {
    background-color: $clr-cyan-900;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &__btn {
    &--one {
      color: $clr-orange;
    }

    &--two {
      color: $clr-cyan-700;
    }

    &--three {
      color: $clr-cyan-900;
    }
  }
}
