@media (min-width: 37.5rem) {
  .cards {
    max-width: 37.5rem;
    margin: auto;
  }

  .attribution {
    font-size: 0.8125rem;
    margin: 1.5625rem;
  }
}

@media (min-width: 950px) {
  .cards {
    display: flex;
    max-width: 57.625rem;
    margin: 10.625rem auto;
  }
  .card {
    padding: 2.8125rem 3.125rem 2.8125rem;
    &__sub-title {
      margin-bottom: 5.1875rem;
    }
    &--one {
      border-top-right-radius: 0;
      border-bottom-left-radius: 0.5rem;
    }
    &--three {
      border-top-right-radius: 0.5rem;
      border-bottom-left-radius: 0;
    }
  }

  .attribution {
    font-size: 0.9375rem;
    margin: 1.875rem;
  }
}
