body {
  font-size: 0.9375rem;
  background-color: $clr-light-gray;
}

.container {
  padding: 0 1.4375rem;
  margin-top: 5.4375rem;
}

.card {
  padding: 2.5rem 3rem;
  max-width: 57.625rem;
  margin: auto;
  list-style-type: none;
  &__title {
    color: $clr-light-gray;
    text-transform: uppercase;
    font-family: $ff-big-shoulders;
    font-size: 2.375rem;
    margin-bottom: 1.5rem;
  }

  &__sub-title {
    color: $clr-trans-white;
    font-family: $ff-lexend;
    line-height: 1.5625rem;
    margin-bottom: 1.6875rem;
  }

  &__image {
    margin-bottom: 2.4375rem;
    position: relative;
  }

  &__btn {
    background-color: $clr-light-gray;
    font-family: $ff-lexend;
    font-size: 0.9375rem;
    padding: 0.75rem 1.875rem;
    margin-bottom: 0.625rem;
    border-radius: 3.125rem;
    border: 0.1875rem solid $clr-light-gray;
    transition: background 500ms, color 500ms;
    outline: none;
    cursor: pointer;
    &:hover {
      color: $clr-light-gray;
      background-color: transparent;
    }
  }
}
