body {
  font-size: 15px;
  background-color: $clr-light-gray;
}

ul {
  list-style-type: none;
}

.container {
  padding: 0 23px;
  margin-top: 87px;
}

.card {
  padding: 40px 48px;

  &__title {
    color: $clr-light-gray;
    text-transform: uppercase;
    font-family: $ff-big-shoulders;
    font-size: 38px;
    margin-bottom: 24px;
  }

  &__sub-title {
    color: $clr-trans-white;
    font-family: $ff-lexend;
    line-height: 25px;
    margin-bottom: 27px;
  }

  &__image {
    margin-bottom: 39px;
    position: relative;
  }
}
